{% extends "@classy/block/block--system-menu-block.html.twig" %}
{#
/**
 * @file
 * WHO's theme implementation for a menu block.
 *
 * @ingroup themeable
 */
#}
{% set show_anchor = "show-" ~ attributes.id|clean_id %}
{% set hide_anchor = "hide-" ~ attributes.id|clean_id %}
{% block content %}
  <div{{ content_attributes.addClass('content') }}>
    {# When rendering a menu without label, render a menu toggle. #}
    <div class="menu-toggle-target menu-toggle-target-show" id="{{ show_anchor }}"></div>
    <div class="menu-toggle-target" id="{{ hide_anchor }}"></div>
    <a class="menu-toggle" href="#{{ show_anchor }}">{% trans %} Show &mdash; {{ configuration.label }}{% endtrans %}</a>
    <a class="menu-toggle menu-toggle--hide" href="#{{ hide_anchor }}">{% trans %} Hide &mdash; {{ configuration.label }}{% endtrans %}</a>
    {{ content }}
  </div>
{% endblock %}
