/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
  background: #292929;
}
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.is-active {
  background-color: #ffffff;
}
.tabs ul.primary li.is-active a {
  background-color: #ffffff;
  border-bottom-color: #ffffff;
}

.header {
  background: #0b2265;
  background: -moz-linear-gradient(left, #0d0e16 15%, #0b2265 50%);
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #0d0e16), color-stop(50%, #0b2265));
  background: -webkit-linear-gradient(left, #0d0e16 15%, #0b2265 50%);
  background: -o-linear-gradient(left, #0d0e16 15%, #0b2265 50%);
  background: -ms-linear-gradient(left, #0d0e16 15%, #0b2265 50%);
  background: linear-gradient(to right, #0d0e16 15%, #0b2265 50%);
}
a,
.link {
  color: #0b2265;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #018fe2;
}
a:active,
.link:active {
  color: #0d0e16;
}
.sidebar .block {
  background-color: #ffffff;
  border-color: #ffffff;
}
.site-footer,
.site-footer .primary {
  background: #1c1c1c;
  color: #e0e3f6;
}
.site-footer .secondary {
  background: #0f0f0f;
  color: #b9bcce;
}
.region-header,
.region-header a,
.region-header li a.is-active,
.site-branding__text,
.site-branding,
.site-branding__text a,
.site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}

/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}
[dir="rtl"] .color-form .form-item label {
  float: right;
}
[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
