/**
 * @file
 * Visual styles for WHO's blocks.
 */

.block_title {
  border-bottom: 4px solid #fecb00;
  display: inline-block;
}
/* Block has its own content wrapper. */
.block .content {
  margin-top: 10px;
}
