/**
 * @file
 * Feed icon styles for WHO.
 */

.feed-icon {
  border-bottom: 1px solid transparent;
  display: inline-block;
  padding-bottom: 2px;
}

.feed-icon:focus,
.feed-icon:hover {
  border-color: #018fe2;
}
