/**
 * @file
 * Styles for WHO's highlighted component.
 */

.has-featured-top .region-highlighted {
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
}
.region-highlighted {
  margin: 0 15px;
}
