/**
 * @file
 * Visual styles for WHO's lists.
 */

ul.links {
  color: #68696b;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.821em;
  padding: 0;
  margin: 0;
  list-style: none;
}
