/**
 * @file
 * Visual styles for WHO's node component.
 */

.node__title {
  color: #0b2265;
}

.node__content {
  font-size: 1.071em;
  margin-top: 10px;
}

/* View mode teaser styles. */
.node--view-mode-teaser {
  margin-bottom: 2em;
}
.node--view-mode-teaser h2 {
  margin-top: 0;
}
/*.node--view-mode-teaser h2 a {*/
  /*color: #181818;*/
/*}*/
.node--view-mode-teaser.node--sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
  padding: 0 15px 15px;
}
.node--view-mode-teaser .node__content {
  clear: none;
  font-size: 1em;
  line-height: 1.6;
  overflow: hidden;
}

@media all and (min-width: 560px) {
  .node--view-mode-teaser .field--name-field-image {
    max-width: 50vw;
  }

  .node--view-mode-teaser .field--name-field-featured-image {
    float: left; /* LTR */
    margin: 0 1em 0 0; /* LTR */
  }
  [dir="rtl"] .node--view-mode-teaser .field--name-field-featured-image {
    float: right;
    margin: 0 0 0 1em;
  }
  .node--view-mode-teaser .field--name-field-featured-image + .field--name-field-featured-image {
    clear: both;
  }
}
@media all and (min-width: 851px) {
  .node--view-mode-teaser .field--name-field-image {
    max-width: 33vw;
  }
}
@media all and (min-width: 1050px) {
  .node--view-mode-teaser .field--name-field-image {
    max-width: 350px;
  }
}


/* View mode slideshow styles. */
/**
 * @see slideshow.css
 */

/* Node metadata styles. */
.node__meta {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -5px;
}
.node__meta .field--name-user-picture img {
  float: left; /* LTR */
  margin: 1px 20px 0 0; /* LTR */
}
[dir="rtl"] .node__meta .field--name-user-picture img {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Node links styles. */
.node__links {
  text-align: left; /* LTR */
  font-size: 1.2em;
  font-weight: bold;
}
.node__links a {
  color: #fecb00;
  color: var(--c-westminster-yellow);
}
.node__links ul.inline li {
  padding-left: 0;
}
[dir="rtl"] .node__links {
  text-align: right;
}
[dir="rtl"] .node__links ul.inline li {
  padding-right: 0;
}

/* Unpublished node styles. */
.node--unpublished {
  padding: 20px 15px 0;
}
.node--unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}
