/**
 * @file
 * Footer Styling.
 */

.site-footer {
  color: #404352;
  font-size: 1rem;
}
.site-footer .layout-container {
  padding: 0 15px;
}
@media all and (min-width: 560px) {
  .site-footer__top .region {
    float: left; /* LTR */
    position: relative;
    width: 50%;
  }
  [dir="rtl"] .site-footer__top .region {
    float: right;
  }
}
@media all and (min-width: 560px) and (max-width: 850px) {
  .site-footer .region {
    box-sizing: border-box;
  }
  .site-footer__top .region:nth-child(2n+1) {
    padding-right: 10px; /* LTR */
  }
  [dir="rtl"] .site-footer__top .region:nth-child(2n+1) {
    padding-left: 10px;
    padding-right: 0;
  }
  .site-footer__top .region:nth-child(2n) {
    padding-left: 10px; /* LTR */
  }
  [dir="rtl"] .site-footer__top .region:nth-child(2n) {
    padding-left: 0;
    padding-right: 10px;
  }
  .region-footer-third {
    clear: both;
  }
}
@media all and (min-width: 851px) {
  .site-footer__top .region {
    padding: 0 0.65%;
  }
  .site-footer__top.region__count-1 .region {
    width: 100%;
  }
  .site-footer__top.region__count-2 .region {
    width: 50%;
  }
  .site-footer__top.region__count-3 .region {
    width: 33%;
  }
  .site-footer__top.region__count-4 .region {
    width: 25%;
  }
  .site-footer__top .region:first-child {
    padding-left: 0; /* LTR */
  }
  [dir="rtl"] .site-footer__top .region:first-child {
    padding-left: 10px;
    padding-right: 0;
  }
  .site-footer__top .region:last-child {
    padding-right: 0; /* LTR */
  }
  [dir="rtl"] .site-footer__top .region:last-child {
    padding-left: 0;
    padding-right: 10px;
  }

  .site-footer__top.region__count-1 .menu-item {
    display: inline-block;
  }
}
.site-footer h2 {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
}
.site-footer blockquote {
  color: #555;
}
.site-footer .content {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.857em;
}
.site-footer .menu-item {
  padding: 0;
}
.site-footer .content ol:not(.menu),
.site-footer .content ul:not(.menu) {
  padding-left: 1.4em; /* LTR */
}
[dir="rtl"] .site-footer .content ol:not(.menu),
[dir="rtl"] .site-footer .content ul:not(.menu) {
  padding-right: 1.4em;
  padding-left: 0;
}
.site-footer .content a,
.site-footer .content a.is-active {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8);
}
.site-footer .content a:hover,
.site-footer .content a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
}
.site-footer .block {
  margin: 20px 0;
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}
.site-footer table {
  font-size: 1em;
}
.site-footer tr td,
.site-footer tr th {
  border-color: #555;
  border-color: rgba(255, 255, 255, 0.18);
}
.site-footer tr.odd {
  background-color: transparent;
}
.site-footer tr.even {
  background-color: #2c2c2c;
  background-color: rgba(0, 0, 0, 0.15);
}

/* Footer Top Styling. */
.site-footer__top h2 {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
}
.site-footer__top .content {
  margin-top: 0;
}
.site-footer__top p {
  margin-top: 1em;
}
.site-footer__top .content .menu {
  padding-left: 0; /* LTR */
}
[dir="rtl"] .site-footer__top .content .menu {
  padding-right: 0;
}
.site-footer__top .content li a,
.site-footer__top .content li span {
  display: block;
  border-bottom: none;
  line-height: 1.2;
  padding: 0.8em 20px; /* LTR */
}
[dir="rtl"] .site-footer__top .content li a,
[dir="rtl"] .site-footer__top .content li span {
  padding: 0.8em 20px;
}
.site-footer__top .content li a:hover,
.site-footer__top .content li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none;
}
.site-footer__top .block-menu,
.site-footer__bottom .block {
  margin: 0;
  padding: 0;
  border: none;
}

/* Footer Bottom Styling. */
.site-footer__bottom .block {
  margin: 0.5em 0;
}
.site-footer__bottom .content {
  padding: 0.5em 0;
  margin-top: 0;
}
.site-footer__bottom .block h2 {
  margin: 0;
}
.site-footer__bottom {
  letter-spacing: 0.2px;
}
.site-footer__bottom .region {
  margin-top: 20px;
}
.site-footer__bottom .block {
  clear: both;
}

/* We need to be specific to overwrite [dir="rtl"] .block ul in block.css. */
.site-footer__bottom .block .menu {
  padding: 0;
}
.site-footer__bottom .menu-item a {
  float: left; /* LTR */
  padding: 0 12px;
  display: block;
  border-right: 1px solid #555; /* LTR */
  border-color: rgba(255, 255, 255, 0.15);
}
[dir="rtl"] .site-footer__bottom .menu-item a {
  float: right;
  border-left: 1px solid #555;
  border-right: none;
}
.site-footer__bottom .menu-item:first-child a {
  padding-left: 0; /* LTR */
}
[dir="rtl"] .site-footer__bottom .menu-item:first-child a {
  padding-right: 0;
  padding-left: 12px;
}
.site-footer__bottom .menu-item:last-child a {
  padding-right: 0; /* LTR */
  border-right: none; /* LTR */
}
[dir="rtl"] .site-footer__bottom .menu-item:last-child a {
  padding-left: 0;
  padding-right: 12px;
  border-left: none;
}

.site-footer__bottom .icon-brand-logo {
  font-size: 3rem;
}

.site-footer__bottom > div {
  display: inline-block;
  margin: 1.25rem 0;
}
.site-footer__bottom .copyright {
  float: right;
  margin-top: 2.81rem;
}

/**
 * When the item is both first and last, :last-child overrides the right padding
 * when using [dir="rtl"]. We need this rule to remove the right padding.
 */
[dir="rtl"] .site-footer__bottom .menu-item:first-child:last-child a {
  padding-right: 0;
}
