/**
 * @file
 * Visual styles for WHO's slideshow.
 */
.views_slideshow_main img {
  width: 100%;
  margin: 0;
}
.views_slideshow_main .field--type-entity-reference {
  margin: 0;
}
.views_slideshow_cycle_teaser_section,
.views_slideshow_slide {
  width: 100% !important;
}
.view-mode-slideshow .field--type-image {
  float: none;
  margin: 0;
}
.block-views-blockslideshow-slideshow .content {
  margin-top: 0;
}
.node--view-mode-slideshow {
  position: relative;
}
.node--view-mode-slideshow .node__content {
  margin: 0;
}
.node--view-mode-slideshow header {
  background: rgba(0, 0,20,.3);
  bottom: 0;
  position: absolute;
  text-align: left;
  width: 100%;
}
.node--view-mode-slideshow h2 {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.node--view-mode-slideshow a {
  color: #ffffff;
  text-shadow: 1px 1px #0b2265;
}

.node--view-mode-slideshow a:hover,
.node--view-mode-slideshow a:focus,
.node--view-mode-slideshow .link:hover,
.node--view-mode-slideshow .link:focus {
  color: rgba(255,255,255,.9);
}

/* Controls display and position */
.skin-default {
  position: relative;
}
.views_slideshow_controls_text {
  bottom: 50%;
  display: none;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 999999;
}
.skin-default:hover .views_slideshow_controls_text {
  display: block;
}
.views_slideshow_controls_text span a {
  background: rgba(255,255,255,0.6);
  display: block;
  padding: 1em;
  text-align: center;
}
.views_slideshow_controls_text span a:hover {
  background: rgba(255,255,255,1);

}
.views_slideshow_controls_text span:hover,
.views_slideshow_controls_text a:hover {
  border-bottom: none;
  text-decoration: none;
  text-shadow: none;
}
.views_slideshow_controls_text_previous,
.views_slideshow_controls_text_pause,
.views_slideshow_controls_text_next {
  position: absolute;
  transform: translateY(-50%);
}
.views_slideshow_controls_text_previous {
  left: 0;
}
.views_slideshow_controls_text_pause {
  left: 50%;
  transform: translate(-50%, -50%);
}
.views_slideshow_controls_text_next {
  right: 0;
}
/* Controls icons */
.views_slideshow_controls_text_previous a::before ,
.views_slideshow_controls_text_pause a::before ,
.views_slideshow_controls_text_next a::before {
  display: block;
  font-family: 'wcc' !important;
  font-size: 3rem;
}

.views_slideshow_controls_text_previous a::before {
  content: "\e629";
}
.views-slideshow-controls-text-status-pause a::before {
  content: "\ea1c";
}.views-slideshow-controls-text-status-play a::before {
  content: "\ea1d";
}
.views_slideshow_controls_text_next a::before {
  content: "\e627";
}