/**
 * @file
 * Visual styles for WHO's news widget component.
 */

@media all and (min-width: 48em) {
  .news-widget > .view-content {
    float: left;
    width: 50%;
  }
  .news-widget .attachment-after{
    box-sizing: border-box;
    float: right;
    padding-left: 1em;
    width: 50%;
  }

  [dir="rtl"] .news-widget > .view-content {
    float: right;
  }
  [dir="rtl" ].news-widget .attachment-after{
    float: left;
    padding-right: 1em;
  }
}

