@font-face {
  font-family: 'wcc';
  src:  url('fonts/wcc.eot?awp0q1');
  src:  url('fonts/wcc.eot?awp0q1#iefix') format('embedded-opentype'),
    url('fonts/wcc.ttf?awp0q1') format('truetype'),
    url('fonts/wcc.woff?awp0q1') format('woff'),
    url('fonts/wcc.svg?awp0q1#wcc') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wcc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniE600:before {
  content: "\e600";
}
.icon-uniE601:before {
  content: "\e601";
}
.icon-uniE602:before {
  content: "\e602";
}
.icon-uniE603:before {
  content: "\e603";
}
.icon-uniE604:before {
  content: "\e604";
}
.icon-uniE605:before {
  content: "\e605";
}
.icon-uniE606:before {
  content: "\e606";
}
.icon-uniE607:before {
  content: "\e607";
}
.icon-uniE608:before {
  content: "\e608";
}
.icon-uniE609:before {
  content: "\e609";
}
.icon-uniE60A:before {
  content: "\e60a";
}
.icon-uniE60B:before {
  content: "\e60b";
}
.icon-uniE60C:before {
  content: "\e60c";
}
.icon-uniE60D:before {
  content: "\e60d";
}
.icon-uniE60E:before {
  content: "\e60e";
}
.icon-uniE60F:before {
  content: "\e60f";
}
.icon-uniE610:before {
  content: "\e610";
}
.icon-uniE611:before {
  content: "\e611";
}
.icon-uniE612:before {
  content: "\e612";
}
.icon-uniE613:before {
  content: "\e613";
}
.icon-uniE614:before {
  content: "\e614";
}
.icon-uniE615:before {
  content: "\e615";
}
.icon-uniE616:before {
  content: "\e616";
}
.icon-uniE617:before {
  content: "\e617";
}
.icon-uniE618:before {
  content: "\e618";
}
.icon-uniE619:before {
  content: "\e619";
}
.icon-uniE61A:before {
  content: "\e61a";
}
.icon-uniE61B:before {
  content: "\e61b";
}
.icon-uniE61C:before {
  content: "\e61c";
}
.icon-uniE61D:before {
  content: "\e61d";
}
.icon-uniE61E:before {
  content: "\e61e";
}
.icon-uniE61F:before {
  content: "\e61f";
}
.icon-uniE620:before {
  content: "\e620";
}
.icon-uniE621:before {
  content: "\e621";
}
.icon-uniE622:before {
  content: "\e622";
}
.icon-uniE623:before {
  content: "\e623";
}
.icon-uniE624:before {
  content: "\e624";
}
.icon-uniE625:before {
  content: "\e625";
}
.icon-uniE626:before {
  content: "\e626";
}
.icon-uniE627:before {
  content: "\e627";
}
.icon-uniE628:before {
  content: "\e628";
}
.icon-uniE629:before {
  content: "\e629";
}
.icon-wcc-logo__inline:before {
  content: "\e62a";
}
.icon-logo__inline:before {
  content: "\e62a";
}
.icon-wcc-logo__icon:before {
  content: "\e62b";
}
.icon-logo__icon:before {
  content: "\e62b";
}
.icon-cone:before {
  content: "\e62c";
}
.icon-repairs:before {
  content: "\e62c";
}
.icon-works:before {
  content: "\e62c";
}
.icon-light:before {
  content: "\e62d";
}
.icon-street-light:before {
  content: "\e62d";
}
.icon-worker:before {
  content: "\e62e";
}
.icon-gardener:before {
  content: "\e62e";
}
.icon-sign:before {
  content: "\e62f";
}
.icon-road:before {
  content: "\e630";
}
.icon-factory:before {
  content: "\e631";
}
.icon-company:before {
  content: "\e631";
}
.icon-clipboard:before {
  content: "\e632";
}
.icon-park:before {
  content: "\e633";
}
.icon-bench-tree:before {
  content: "\e633";
}
.icon-warning:before {
  content: "\e634";
}
.icon-alert:before {
  content: "\e634";
}
.icon-announcement:before {
  content: "\e635";
}
.icon-speaker:before {
  content: "\e635";
}
.icon-paint:before {
  content: "\e636";
}
.icon-paint__spray:before {
  content: "\e636";
}
.icon-drunk:before {
  content: "\e637";
}
.icon-party:before {
  content: "\e637";
}
.icon-asb:before {
  content: "\e637";
}
.icon-dog:before {
  content: "\e638";
}
.icon-dog__noise:before {
  content: "\e638";
}
.icon-shop:before {
  content: "\e639";
}
.icon-uniE63A:before {
  content: "\e63a";
}
.icon-parking:before {
  content: "\e63b";
}
.icon-parking__pin:before {
  content: "\e63b";
}
.icon-uniE63C:before {
  content: "\e63c";
}
.icon-parking__car:before {
  content: "\e63d";
}
.icon-uniE63E:before {
  content: "\e63e";
}
.icon-recycling:before {
  content: "\e63f";
}
.icon-parking__ticket:before {
  content: "\e640";
}
.icon-uniE641:before {
  content: "\e641";
}
.icon-uniE642:before {
  content: "\e642";
}
.icon-uniE643:before {
  content: "\e643";
}
.icon-uniE644:before {
  content: "\e644";
}
.icon-uniE645:before {
  content: "\e645";
}
.icon-uniE646:before {
  content: "\e646";
}
.icon-uniE647:before {
  content: "\e647";
}
.icon-uniE648:before {
  content: "\e648";
}
.icon-uniE649:before {
  content: "\e649";
}
.icon-uniE64A:before {
  content: "\e64a";
}
.icon-uniE64B:before {
  content: "\e64b";
}
.icon-uniE64C:before {
  content: "\e64c";
}
.icon-wcc-logo:before {
  content: "\e64d";
}
.icon-logo:before {
  content: "\e64d";
}
.icon-uniE64E:before {
  content: "\e64e";
}
.icon-city:before {
  content: "\e64f";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
