:root {
  /**
  * Colour palette
  */
  --c-grey0: #f3f4ff;
  --c-grey1: #e0e3f6;
  --c-grey2: #d2d5e8;
  --c-grey3: #b9bcce;
  --c-grey4: #404352;
  --c-grey5: #292b36;
  --c-grey6: #1c1c1c;

  --c-blue0: #bfd6ef;
  --c-blue1: #a1cdfe;
  --c-blue2: #79b0ed;
  --c-blue3: #528dcf;
  --c-blue4: #2457b5;
  --c-westminster-blue: #0b2265;
  --c-blue6: #060d3d;

  --c-yellow1: #ffe88e;
  --c-yellow2: #ffdc53;
  --c-westminster-yellow: #fecb00;
  --c-yellow: #e1ac0c;

  --c-validation: #009876;
  --c-error: #c8252f;

}